

@font-face {
	font-family: 'KTFold-Regular';
	src: url('../fonts/KTFold-Regular.eot');
	src: url('../fonts/KTFold-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/KTFold-Regular.woff2') format('woff2'),
		url('../fonts/KTFold-Regular.woff') format('woff'),
		url('../fonts/KTFold-Regular.ttf')  format('truetype'),
		url('../fonts/KTFold-Regular.svg#svgFontName') format('svg');
	font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'KTFold-Italic';
	src: url('../fonts/KTFold-Italic.eot');
	src: url('../fonts/KTFold-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/KTFold-Italic.woff2') format('woff2'),
		url('../fonts/KTFold-Italic.woff') format('woff'),
		url('../fonts/KTFold-Italic.ttf')  format('truetype'),
		url('../fonts/KTFold-Italic.svg#svgFontName') format('svg');
	font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'KTFold-Medium';
	src: url('../fonts/KTFold-Medium.eot');
	src: url('../fonts/KTFold-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/KTFold-Medium.woff2') format('woff2'),
		url('../fonts/KTFold-Medium.woff') format('woff'),
		url('../fonts/KTFold-Medium.ttf')  format('truetype'),
		url('../fonts/KTFold-Medium.svg#svgFontName') format('svg');
	font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'KTFold-MediumItalic';
	src: url('../fonts/KTFold-MediumItalic.eot');
	src: url('../fonts/KTFold-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/KTFold-MediumItalic.woff2') format('woff2'),
		url('../fonts/KTFold-MediumItalic.woff') format('woff'),
		url('../fonts/KTFold-MediumItalic.ttf')  format('truetype'),
		url('../fonts/KTFold-MediumItalic.svg#svgFontName') format('svg');
	font-weight: normal;
    font-style: normal;
}




.companyoverview{
 overflow-x: hidden !important;
 }


h1{
    font-size: 8em;
    font-family: 'KTFold-Medium';
}

h2{
    font-size: 120px;
    font-family: 'KTFold-Medium';
    color: #f99f00;
    letter-spacing: -0.3rem;
}

h6{
  font-family: 'KTFold-Regular';
  font-size: 10px;
  display: block;
}


hr{
    stroke-width: 5px;
}

strong{
    font-family: 'KTFold-Medium';

}

em{
  font-family: 'KTFold-Italic';
}

#section-header{
  margin-top: 140px;
  margin-bottom: 20px;
  height: 200px;
  display: block;
}


#fullwidth{
    width: 100%;
    object-fit: cover;
    margin-top: 70px;
    margin-bottom: 0;
}

#scrolling-container{
    margin-top: 140px;
    width: 100%;
    height: 200px;
    overflow-x: hidden;
    overflow-y: hidden;
}


  .callout-text{
    font-size: 34px;
    font-family: 'KTFold-Medium';
    line-height: 1.2;
    color: #f99f00;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 70%;
  }

  .callout-text-right{
    font-size: 34px;
    font-family: 'KTFold-Medium';
    line-height: 1.3;
    color: #f99f00;
    margin-top: 150px;
    margin-bottom: 100px;
    width: 70%;
    margin-left: 30%;
  }

  #scroll-seemore{
    display: block;
    font-size: 12px;
    font-family: 'KTFold-Medium';
    margin-top: 10vh;
    margin-bottom: 5px;
    width: 100%;;
  }

  #caption{
    font-family: 'KTFold-Regular';
    font-size: 14px;
    margin-top: 10px;
    display: inline-block;
    width: 35% !important;
  }

  #carousel-caption{
    font-family: 'KTFold-Regular';
    font-size: 14px;
    margin-top: 10px;
    display: inline-block;
    width: 60%;
  }

  #fullwidth-caption{
    font-family: 'KTFold-Regular';
    font-size: 14px;
    margin-top: 10px;
    display: block;
    width: 50%;
  }

  #fullwidth-carousel-caption{
    font-family: 'KTFold-Regular';
    font-size: 14px;
    margin-top: 10px;
    display: block;
    width: 95%;
  }

  #caption-right{
    font-family: 'KTFold-Regular';
    font-size: 14px;
    margin-top: 10px;
    margin-left: 51%;
    display: inline-block;
    width: 35%;
  }

  #eventblock{
    background-color: white;
    display: inline-block;
    width: 100%;
    align-items: start;
  }

  #half-width-img{
    margin-top: 0vh;
    margin-bottom: 0;
    display: inline-block;
    width: 90%;
    z-index: 5;

  }

  #large-img-left{
    width: 80%;
    margin-right: 20%;
    margin-top: 150px;
  }

  #large-img-right{
    width: 80%;
    margin-left: 20%;
    margin-top: 150px;
  }

  #medium-img-right{
    width: 60%;
    margin-top: 140px;
    margin-left: 40%;
  }

  #medium-img-left{
    width: 60%;
    margin-top: 140px;
    margin-right: 40%;
  }
  
  #event-text{
    width: 90%;
    margin-left: 0;
    margin-top: 100px;
    font-family: 'KTFold-Regular';
    font-size: 18px;
    line-height: 1.4;
    z-index: 10;
    vertical-align: top;
  }

  #event-text-top{
    width: 90%;
    margin-left: 0;
    margin-top: 0px;
    font-family: 'KTFold-Regular';
    font-size: 18px;
    line-height: 1.4;
    z-index: 10;
  }



  #full-width-text{
width: 50%;
font-family: 'KTFold-Regular';
    font-size: 18px;
    line-height: 1.4;
    display: inline-block;
    margin-top: -6vh;
    margin-left: 45%;
    margin-bottom: 50px;
    z-index: 5;

  }

  #collab-title{
    font-size: 96px;
    color: #000000;
    font-family: 'KTFold-Medium';
    margin-top: 80px !important;
    vertical-align: top;
  }

  #collab-title-contemporary{
    font-size: 96px;
    line-height: 1;
    color: #000000;
    font-family: 'KTFold-Medium';
    margin-top: 20px !important;
    vertical-align: top;
  }


  #full-width-rule{
    background-color: #f99f00;
    display: block;
    width: 100%;
    height: 10px;
  }

  #quote-rule-left{
    background-color: #f99f00;
    display: block;
    width: 98%;
    height: 2px;
    margin-bottom: 30px;
  }
  
  #quote-rule-right{
    background-color: #f99f00;
    display: block;
    width: 98%;
    height: 2px;
    margin-bottom: 30px;
   }

  #left{
    display: inline-block;
    width: 48%;
    height: 100%;
    margin-left: 0;
    margin-top: 0;
  }

  #right{
    display: inline-block;
    width: 48%;
    margin-left: 3%;
    margin-top: 0vh;
  }


  .one{
    margin-top: 20px;
  }

  .two{
    margin-top: 250px;  }

  .three{
    margin-top: 100px;
  }

  .four{
    margin-top: 150px;
  }

  .five{
    margin-top: 1050px;
    display: block;
  }

  .six{
    margin-top: 100px;
  }

  .seven{
    margin-top: 200px;
  }

  .eight{
    margin-top: 150px;
  }

  .nine{
    margin-top: 150px;
  }

  .ten{
    margin-top: 200px;
  }

  .collaborator{
    width: 48%;
    margin-top: 1vh;

  }

  #collaborator-portrait{
    width: 100%;
  }

  #collaborator-description{
    margin-top: 30px;
    padding-left: 1vw;
    padding-bottom: 5vh;
    font-family: 'KTFold-Regular';
    font-size: 18px;
    line-height: 1.4;
    width: 90%;
  }

  .two #half-width-img{
    margin-top: -27vh;
  }

#earlycollaborators{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;
    width: 320%;
}

  #collaborators-scroll{
    margin-top: 0px;
    width: 100%;
    overflow-x: scroll;
  }

  #left-img-bleed{
    width: 68%;
    margin-right: 40% !important;
    z-index: 10;
    margin-top: 120px;
  }

  #left-half-img{
    width: 46%;
    margin-top: 100px;
    display: inline-block;
  }

  #right-half-img{
    width: 46%;
    margin-left: 53%;
    margin-top: 150px;
    display: inline-block;
  }


  #half{
    width: 50%;
  }


  #full-width{
    margin-top: 150px;
  }


  #full-width-img{
    width: 100%;
    margin-top: 0px;
  }


  #horizontal-img-scroll{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    padding-bottom: 50px;
    margin-bottom: 100px;
  }

  #scroll-container{
    overflow-x: hidden !important;
    overflow-y: hidden;
    width: 100% !important;
  }

  #scroll-container-two{
    overflow-x: hidden !important;
    overflow-y: hidden;
    width: 100% !important;
  }
  

  #horizontal-img-scroll-two{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    padding-bottom: 50px;
    margin-bottom: 100px;
  }

  #horizontal-img-scroll img{
    width: 35vw;
    display: inline-block;
    margin-right: 1.5vw;
  }

  #horizontal-img-scroll-two img{
    width: 35vw;
    display: inline-block;
    margin-right: 1.5vw;
  }

  #full-width-carousel{
    margin-top: 150px;
    margin-bottom: 150px;
    width: 80%;
    margin-left: 10%;
  }

  #full-width-carousel img{
    width: 100%;
  }

  #moma-carousel img{
    width: 60%;
  }

  #carousel-captions{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .page-breaker{
    min-height: 100vh;
    position: relative;
    display: block;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    z-index: 100;
  }

  .page-breaker-two{
    min-height: 100vh;
    position: relative;
    display: block;
    flex-direction: column;
    justify-content: center;
    margin-top: 200px;
    z-index: 100;

  }
  
  .ktsection {
    width: 100%;
    min-height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
  }
  
  .ktsection:nth-child(1) {
   background-image: url(../images/KT_LegacyCollection_process1.jpg);
   background-size: cover;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: absolute;
  }
  
  .ktsection:nth-child(2) {
    background-image: url(../images/KT_LegacyCollection_process2.jpg);
    background-size: cover;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: absolute;
  
  }
  
  .ktsection:nth-child(3) {
    background-image: url(../images/KT_LegacyCollection_process3.jpg);
    background-size: cover;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: absolute;
  }

  .ktsection:nth-child(4) {
    background-image: url(../images/KT_LegacyCollection_process4.jpg);
    background-size: cover;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: absolute;
  }
  
  .ktsection:nth-child(5) {
    background-image: url(../images/KT_LegacyCollection_process5.jpg);
    background-size: cover;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: absolute;
  }


  .slick-slide{
    width: 100%;
  }


  .slick-next::before, .slick-prev::before {
    color: rgb(0, 0, 0);
  }

.anni-prevarrow{
  display: inline-block;
border: 0px;
background-color: transparent;
  }

.anni-nextarrow{
    display: inline-block;
  border: 0px;
  background-color: transparent;
    
}


    .prevarrow{
    display: inline-block;
border: 0px;
background-color: transparent;
    }

    .prevarrow :hover{
        color: red;
    }

    .nextarrow{
display: inline-block;
border: 0px;
background-color: transparent;

    }

    .nextarrow :hover{
        color: red;
    }

    #arrows{
      display: inline-block;
      width: 80px;
    }
    .slick-controls{
        margin-top: 15px;
    }

    .slick-controls-two{
      display: inline-block;
      margin-top: 10px !important;
      margin-left: 7%;
    }

    .slick-controls-three{
      display: inline-block;
      margin-top: 10px !important;
      margin-left: 7%;
    }

    .slick-controls-four{
      display: inline-block;
      margin-top: 10px !important;
      margin-left: 12%;
      width: 80px;
    }


      #seemore{
        font-family: 'KTFold-Regular';
        font-size: 12px;
        margin-top: 80px;
        margin-bottom: 0px;
        margin-left: 90%;
      }

      a{
        text-decoration: underline;
      }


      @media only screen and  (max-width: 1256px) {

        h2{
          font-size: 80px;
        }

        .callout-text{
          font-size: 24px;
          line-height: 1.3;
          margin-top: 10vh !important;
          width: 70%;
          margin-bottom: 10vh;
        }

        .callout-text-right{
          font-size: 24px;
          line-height: 1.3;
          margin-top: 10vh;
          width: 70%;
          margin-bottom: 10vh;
        }

        #medium-img-left{
          margin-top: 10vh !important;
        }

        #medium-img-right{
          margin-top: 10vh !important;
        }

        #full-width-carousel{
          margin-top: 10vh !important;
          margin-bottom: 0 !important;
        }

        #left-half-img{
          margin-top: 10vh !important;
          margin-bottom: 0 !important;
        }

        #right-half-img{
          margin-top: 10vh !important;
          margin-bottom: 0 !important;
        }

        #section-header{
          margin-top: 10vh !important;
          margin-bottom: 70px !important;
          height: 15vh;
        }

        #section-title{
          margin-top: 40px !important;
        }
        #overlap-img{
          margin-bottom: 5vh !important;
        }


      }

      @media only screen and (max-width: 992px){
        #overlap-img{
          margin-bottom: 15vh !important;
        }

        #caption{
          font-size: 11px;
          line-height: 1.2;
        }

        #fullwidth-caption{
          font-size: 11px;
          line-height: 1.2;
        }

        #caption-right{
          font-size: 11px;
          line-height: 1.2;
        }

        #carousel-caption{
          font-size: 11px;
          line-height: 1.2;
        }

        #anni-caption{
          font-size: 11px;
          line-height: 1.2;
        }

        #sheila-caption{
          font-size: 11px;
          line-height: 1.2;
        }

        #moma-caption{
          font-size: 11px;
          line-height: 1.2;
        }

        h6{
          font-size: 8px;
        }
      }

        @media only screen and (max-width: 576px) {
        
          
          #horizontal-img-scroll-two{
          margin-top: -20vh !important;
          }

          #moma-carousel{
            margin-top: -50vh;
          }

          #horizontal-img-scroll-two img{
            height: 50%;
          }

          .callout-text{
            font-size: 18px;
            line-height: 1.3;
            margin-top: 10vh !important;
            margin-bottom: 10vh !important;
            width: 80%;
            margin-left: 10%;
            margin-bottom: 5vh;
          }

          .callout-text-right{
            font-size: 18px;
            line-height: 1.3;
            width: 80%;
            margin-left: 10%;
            margin-top: 10vh;
            margin-bottom: 5vh;
          }

          .callout-margin{
            margin-top: 75vh !important;
          }

          h2{
            font-size: 48px;
            margin-top: 3vh !important;
            letter-spacing: normal;
      
          }

          #left-half-img{
            width: 100%;
            margin-top: 5vh;
            display: block;
          }

          #right-half-img{
            width: 100%;
            margin-left: 0;
            margin-top: 5vh;
            display: block;
          }

          

          #arrows{
            width: 20vw;
          }

          #caption{
            width: 50% !important;
            margin-left: 0 !important;
            margin-top: 8px;
            font-size: 10px;
            line-height: 1.2;
    
          }

          #caption-right{
            width: 50% !important;
            margin-left: 0 !important;
            margin-top: 8px;
            font-size: 10px;
            line-height: 1.2;
          }

          #carousel-caption{
            width: 100% !important;
            margin-left: 0 !important;
            font-size: 10px;
            line-height: 1.2;
          }

          #anni-caption{
            width: 100% !important;
        
          }

          #sheila-caption{
            width: 100% !important;
            font-size: 10px;
            line-height: 1.2;
            margin-left: 0 !important;
          }

          #moma-caption{
            width: 100% !important;
          }

          #medium-img-right{
            width: 100%;
            margin-left: 0;
            margin-top: 10vh;
            margin-bottom: 5vh;
            display: block;
          }

          #medium-img-left{
            width: 100%;
            margin-left: 0;
            margin-top: 10vh;
            margin-bottom: 5vh;
            display: block;
          }

          #large-img-right{
            width: 100%;
            margin-top: 5vh;
            margin-left: 0;
            display: block;
          }

          #full-width{
            width: 100%;
            margin-top: 5vh !important;
            margin-bottom: 0;
            display: block;
          }

        .slick-carousel{
            width: 100%;
            height: 20vh;
            margin-top: 0 !important;
          }

        #moma-carousel{
          height: 20vh;
        }

        #moma-carousel img{
          width: 100%;
          height: 100%;
        }

        #full-width-img{
          margin-top: 5vh;
          margin-bottom: 0;
          display: block;
        }

        #full-width-carousel img{
          width: 100%;
          height: 100%;
        }

        #full-width-carousel{
          margin-top: 5vh;
          margin-bottom: 30vh;
          width: 100%;
          margin-left: 0;
        }

        #section-header{
          margin-top: 10vh !important;
          margin-bottom: 70px !important;
          height: 5vh;
        }

        .anni-carousel{
          margin-top: -20px !important;
        }

        #sheila-carousel{
          margin-top: -20px !important;
          margin-bottom: 50vh !important;
        }

        h6{
          width: 50%;
          font-size: 8px;
          margin-left: 0 !important;
        }

        #scroll-container-two{
        height: 50vh !important;
        }

        #overlap-img{
          margin-top: 10vh !important;
          margin-bottom: 5vh !important;
        }


      }